* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --page-bg: #FAFAFA;
    --link-color: rgba(12, 16, 20, 1);


    /*login*/
    --login-bg: #FFFFFF;
}

.dark {
    --page-bg: #ebebeb;
    --link-color: #76b9f8;

}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
}

body {
    background: var(--page-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-family: "Segoe UI", SegoeUI, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 25px;
    justify-content: start;
    align-items: start;


}

.middle-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 60px;
    justify-content: space-between;
}

.incone-menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.incone-menu p {
    font-size: 17px;
}

.incone-menu:hover {
    background-color: #F3F3F3;

}

.foto-perfil img {
    width: 10px;
}

.container {
    display: flex;
    flex-direction: column;




}

.container .story {
    display: flex;
    position: relative;
    gap: 15px;
    padding: 4px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;



}



.avatar-border {
    width: 90px;
    height: 90px;
    padding: 4px;
    /* espessura da borda */
    border-radius: 50%;

    background: linear-gradient(45deg,
            #feda75,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.story img {
    border-radius: 50%;
    width: 84px;
    cursor: pointer;
    object-fit: cover;
    background: #000;


}

.feed {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 50px;
    align-items: center;





}

.information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 496px;

}

.information .collum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.post-border {
    width: 42px;
    height: 42px;
    padding: 2.4px;
    /* espessura da borda */
    border-radius: 50%;

    background: linear-gradient(45deg,
            #feda75,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

.post-border img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    background: #000;

}

.information a {
    color: rgba(12, 16, 20, 1);
    font-size: 14px;
    font-weight: bold;
}

.information p {
    color: rgb(106,
            113,
            122);
}

.information .pontos {

    cursor: pointer;
}

.feed .post img {
    border-radius: 20px;
    height: 620px;
    margin-top: 10px;
    width: 520px;

}

.reaction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    width: 486px;



}

.reaction p {
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    font-size: 15px;
    margin-right: 10px;


}

.reaction .Curtir {
    cursor: pointer;


}

.reaction .incones {
    transition: 1.9s ease;
    cursor: pointer;

}

.reaction .incones:hover {
    transform: scale(1.1);
}

.collum1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline-start: 10px;



}

.collum2 {
    margin-inline-start: auto;

}

.about {
    width: 490px;
    margin-inline-start: 10px;
    display: flex;

    margin-top: 10px;

}

.hashtag {
    color: #8450F7;
}




/*RESPONSIVIDADE */

@media (min-width:926px) and (max-width: 1200px) {

    .container .story {
        margin-left: 170px;
    }

    .feed {
        margin-left: 177px;
    }


}

@media (max-width:926px) {
    .middle-menu {
        display: none;
    }



    .container {
        align-items: center;
        justify-content: center;

    }

    .container .story {
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .feed {
        margin: 0;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

}

@media (max-width:485px) and (min-width:430px) {
    .feed .post img {
        width: 390px;
        height: 500px;
    }

    .information {
        width: 346px;
    }

    .reaction {
        width: 376px;

    }

    .reaction p {

        font-size: 12px;
    }

    .about {
        width: 396px;
    }
}

@media (max-width:430px) {

    .feed {

        align-items: center;
        justify-content: center;
        margin-left: auto;

    }

    .feed .post img {
        width: 380px;
        height: 500px;
    }

    .information {
        width: 346px;
    }

    .reaction {
        width: 376px;

    }

    .reaction p {

        font-size: 12px;
    }

    .about {
        width: 396px;
    }



}

@media (min-width:480px) and (max-width:620px) {

    .feed {

        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 0;
        margin-top: 50px;

    }

    .feed .post img {
        width: 480px;
    }

    .information {
        width: 396px;
    }

    .reaction {
        width: 396px;
    }

    .about {
        width: 396px;
    }


}



@media (min-width:511px) and (max-width:629px) {
    .avatar-border {
        width: 72px;
        height: 72px;
    }

    .story img {
        width: 67px;
    }
}

@media (min-width:431px) and (max-width:510px) {
    .avatar-border {
        width: 57px;
        height: 57px;
    }

    .story img {
        width: 52px;
    }
}

@media (max-width:430px) {
    .avatar-border {
        width: 52px;
        height: 52px;
    }

    .story img {
        width: 47px;
    }

    .container .story {
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-left: 97px;
    }

}